* {
    width: auto;
    height: auto;
    */ background: #FFF;
    font-family: Inter;
    align-items: center;
    align-content: center;
}

.banner-card img {
    width: 100%;
}

.banner-text {
    top: 30px;
    left: 125px;
    position: absolute;
    text-align: center;
    color: #FFF;
}

.banner-text h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather';
}

.banner-text h1 {
    font-size: 30px;
    font-weight: 900;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather';
}

.discount {
    text-align: center;
}

.discount h2 {
    color: #F00;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
}

.discount p {
    color: #F00;
    font-size: 12px;
    font-weight: 500;
}

.discount h3 {
    color: #070211;
    font-size: 24px;
    font-weight: 700;
}

.discount img {
    width: 60%;
    flex-shrink: 0;
    padding-bottom: 50px;
}

.party img {
    width: 100%;
}
.night p{
    text-align: justify;
    margin-left: 15px;
}
.party #sticker {
    width: 25%;
    position: absolute;
    right: 70px;
    margin-top: 20px;
}

.party h3 {
    /* color: #FFF; */
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0%;
    width: 40%;
    letter-spacing: 3px;
    line-height: 30px;
}
.party > h3 p{
    position: absolute;
    margin-top: 0%;

}

.party p {
    /* color: rgba(255, 255, 255, 0.80); */
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    width: 70%;
}
.night{
    z-index: 1;
    /* left: 0px; */
    position: absolute;
    text-align: center;
    color: #FFF;
}
.pdt {
    width: 90%;
    flex-shrink: 0;
    background-color: lightpink;
    text-align: center;
    padding: 20px;
}

.pdt span {
    color: #F00;
}

.pdt button {
    background-color: #FF0000;
    border-radius: 8px;
    display: inline-flex;
    padding: 8px 16px;
    gap: 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-style: none;
}
.best-offer{
    margin-top: 10%;
    padding: 20px;
    display: flex;
    column-gap: 5%;
}
.new{
    width: 30%;
}
.year p{
font-size: small;
}
.new p{
font-size: small;
}
.best-offer .year img{
    width: 50%;
}
.best-offer img{
    width: 100%;
}
.best-offer .round-image .zero{
    border-radius: 50%;
    padding: 10px;
    border: 10px solid red;
}
.holiday{
    text-align: center;
    padding: 0%;
}
.holiday h2{
    font-family: Merriweather;
}
.holiday span{
    color: #F00;
    font-family: Merriweather;
}
.holiday p{
    padding: 0 25%;
}
.sale-discount{
    display: flex;
}
.six-images{
    width: fit-content;
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
}
.newsletter{
    padding: 10%;
    text-align: center;
}

.subscribe input {
    padding: 10px;
    border-radius: 20px;
}
.subscribe button{
    padding: 10px;
    border-radius: 20px;
    color: #FFF;
    background-color: #F00;
    border: none;
}
.finish{
text-align: center;

}



/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather', serif; */